<div class="left">
  <app-conversation-list (userSelected)="user = $event"></app-conversation-list>
</div>
<div class="right">
  <app-conversation-view [chosenUser]="user"></app-conversation-view>
</div>
