:host {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left {
  width: 300px;
  height: 100vh;
  box-shadow: 0 2px 16px 0 #00000022;
  position: fixed;
}

.right {
  left: 300px;
  width: calc(100vw - 300px);
  height: 100vh;
  position: fixed;
}
