<div *ngIf="conversation$ | async as conversation" class="conversation">
  <div *ngFor="let msg of conversation.messages$ | async" class="message" [class.message-left]="msg.login === chosenUser.login">
    <div class="message-body">
      <div class="message-text">{{msg.body}}</div>
      <div class="message-login">{{msg.login}}</div>
    </div>
  </div>
</div>
<div class="input-container" *ngIf="chosenUser">
  <input [(ngModel)]="msg" class="input-text" (keydown.enter)="send()"/>
  <p-button label="Send" (click)="send()" class="input-button"></p-button>
</div>
