.input-container {
  display: flex;
  padding: 10px 20px;
  box-shadow: -2px 0 16px 0 #00000022;
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100vw - 300px);
  height: 53px;
}

.conversation {
  height: calc(100vh - 53px);
  overflow-y: scroll;
  word-break: break-word;
  display: flex;
  flex-direction: column;
}

.input-button {
  margin-left: 12px;
}

.input-text {
  width: 100%;
}

.message {
  align-self: flex-end;
  max-width: 40%;
}

.message-left {
  align-self: flex-start;

}

.message .message-body {
  background-color: var(--primary-color);
  color: #fff;

}

.message-left .message-body {
  background-color: #fff;
  color: var(--text-color);

}

.message-body {
  padding: 10px 20px;
  margin: 2px 5px;
  box-shadow: 5px 0 8px 0 #00000012;
  border-radius: 16px;
}

.message-login {
  font-size: 1.2rem;
  opacity: 0.6;
  margin-top: 4px;
}

.message-text {

}
