<p-card [style]="{width: '360px'}" styleClass="ui-card-shadow">

  <input pInputText placeholder="Login" [(ngModel)]="loginProp" />
  <input pInputText placeholder="Password" type="password" [(ngModel)]="passwordProp" />

    <p-footer>
      <p-button label="Login" (click)="login()"></p-button>
      <p-button label="Register" (click)="register()"></p-button>
    </p-footer>
</p-card>
